@model LibRes.App.Models.Home.HomeStatisticModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <div class="card text-center">
            <div class="card-body">
                <p class="card-description">
                    @User.Identity.Name,
                    <br/>
                    Welcome the New Bulgarian University library reservation portal!
                    <br/>
                    This product has been brought to you in association with WKZ Solutions Ltd.
                    <br/>
                    For more information, please make sure to check the @Html.ActionLink("About", "About", "Home")
                    page.
                    <br/>
                    Enjoy your stay!
                </p>
                <p>
                    Events Created Today: @Model.EventsCreatedToday
                </p>
                <p>
                    Total Events Created By You: @Model.TotalEventsCurrentUser
                </p>
                <p>
                    Total Events: @Model.TotalEvents
                </p>
                
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Room availability</h4>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                    <tr>
                        <th class="col-md-2">Room</th>
                        <th>Availability</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var (key, value) in Model.RoomAvailability)
                    {
                        <tr>
                            <td>@key</td>
                            @if (value)
                            {
                                <td style="color: green">Available</td>
                            }
                            else
                            {
                                <td style="color: red">Busy</td>
                            }

                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>