@model string
@{
    ViewBag.Title = "View Events";
}
<style>
    .modal-backdrop {
        /* bug fix - no overlay */
        display: none !important;
    }

    #load_cnt { box-shadow: none; }
</style>
<div id="containers"></div>
<div>
    @Html.DropDownList("Select Room",
        (IEnumerable<SelectListItem>) ViewBag.Rooms,
        new {id = "roomSelect", @class = "btn btn-secondary dropdown-toggle"})
</div>
<div id="calendar"></div>
<div id="load_cont"></div>
<script>
    $(document).ready(function() {
        var data = @Html.Raw(Model);

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            eventRender: function(event, element) {
                element.click(function() {
                    $.ajax({
                        url: '@Url.Action("ViewEventPartial")',
                        beforeSend: function() {
                            $('#load_cont').append(
                                '<div class="modal bd-example-modal-lg" id="load" data-backdrop="static"' +
                                ' data-keyboard="false" tabindex="-1">' +
                                '<div class="modal-dialog modal-sm">' +
                                '<div class="modal-content"  id="load_cnt">' +
                                '<div class="lds-roller"><div></div><div></div><div>' +
                                '</div><div></div><div></div><div></div><div>' +
                                '</div><div></div></div></div> </div> </div>');


                            $('#load').modal("show");
                        },
                        type: 'GET',
                        cache: false,
                        data: { eventId: event.id },
                        success: function(result) {

                            $('#containers').html(result);
                            $('#eventInfo').modal();
                        },
                        complete: function() {
                            $('#load_cont').html('');
                            $('.modal-backdrop.fade').remove();
                        }
                    });
                });
            },
            defaultDate: '@DateTime.Now.ToString("yyyy-MM-dd")',
            navLinks: true,
            editable: false,
            eventLimit: true,
            events: data
        });

        $("#roomSelect").change(function() {
            $.ajax({
                url: '@Url.Action("ViewEvents")',
                type: 'GET',
                cache: false,
                data: { roomId: $("#roomSelect").val() },
                success: function(result) {
                    $('#calendar').fullCalendar('removeEvents');
                    $('#calendar').fullCalendar('addEventSource', $.parseJSON(result));
                }
            });
        });

    });

</script>