@model LibRes.App.Models.Account.ProfileViewModel

<style>
.dropdown-tr > td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
</style>

<div class="card card-profile ml-auto mr-auto">
    <div class="card-body ">
        <h4 class="card-title">@Model.FirstName @Model.LastName</h4>
        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
    </div>
    <div class="card-footer justify-content-center">
        <table class="table" id="res">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th>Repeat Dates</th>
        <th>Event Name</th>
        <th>Starts</th>
        <th>Ends</th>
        <th>Meeting Room</th>
        <th>Department</th>
        <th class="text-right">Needs Multimedia</th>
    </tr>
    </thead>
            <tbody>
            @for (var i = 0; i < Model.Events.Count; i++)
            {
                <tr>
                    <td class="text-center">@i</td>
                    @if (Model.Events[i].RepeatDates.Count > 0)
                    {
                        <td class="accordion-toggle" data-toggle="collapse" data-parent="#res" href="#collapse @i.ToString()"> Yes</td>
                    }
                    else
                    {
                        <td> No</td>
                    }
                    <td>@Model.Events[i].EventName</td>
                    <td>@Model.Events[i].InitialDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@Model.Events[i].InitialDate.Date.ToString("dd/MM/yyyy") @Model.Events[i].EndHour</td>
                    <td>@Model.Events[i].MeetingRoom</td>
                    <td>@Model.Events[i].Department</td>
                    <td>@Html.Raw((Model.Events[i].WantsMultimedia)?"Yes":"No")</td>
                </tr>
                <tr class="dropdown-tr">
                    <td colspan="8">
                        <table>
                            <thead id="collapse @i.ToString()" class="accordion-body collapse">
                                <th>Date</th>
                                <th>Begins</th>
                                <th>End</th>
                            </thead>
                            <tbody id="collapse @i.ToString()" class="accordion-body collapse">
                            @foreach (var d in Model.Events[i].RepeatDates)
                            {
                                <tr>
                                    <td>@d.ToString()</td>
                                    <td>@Model.Events[i].BeginHour</td>
                                    <td>@Model.Events[i].EndHour</td>
                                </tr>   
                            }
                            </tbody>
                        </table>
                    </td>
                </tr> 
            }
            </tbody>
</table>
    </div>
</div>           
                  