@model LibRes.App.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.Email)

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                Secret Question: @ViewBag.SecretQuestion
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.SecretAnswer, new {@class = "control-label"})
                
                    @Html.TextBoxFor(m => m.SecretAnswer, new {@class = "form-control"})
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new {@class = "control-label"})
               
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
                
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Reset"/>
            </div>
        </div>
    </div>
}